@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.3rem;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black/[0.96] text-white overscroll-none;
  }
}

.ch-scrollycoding-step-content {
  min-height: 0px;
}

.ch-scrollycoding-step-content[data-selected] {
  background-color: #1a202ccc;
}

.ch-spotlight {
  @apply flex-col items-center justify-center;
}

.ch-spotlight-tabs {
  @apply flex flex-row gap-8;
}

.ch-spotlight-tab {
  @apply flex cursor-pointer p-2 bg-gray-500/80 hover:bg-gray-500/60 border-0 max-w-48 text-sm;
}

.ch-spotlight-tab[data-selected] {
  @apply bg-blue-500/60;
}

.ch-spotlight-sticker {
  width: 100%;
}

.ch-codegroup{
  width: 100%;
}

.ch-editor-frame {
  width: 100%;
}